@charset "utf-8";
/* CSS Document */
.menu1{
	position:fixed;
	top:0px;
	width:100%;
	height:40px;
	background:black;
	text-align:center;
	color:white;
	transition: background 1s;
}

.menu1:hover{
	background:#333;
}

